html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./img/crowd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}
.keys {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key {
  border: 5px solid black;
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 32rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 5px black;
  transition: all .07s;
}
.playing {
  transform: scale(1.2);
  border-color: 1px solid #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
.key span {
  color: #ffff36;
}
.key kbd {
  color: white;
  font-size: 24px;
  font-weight: 400;
}