html {
  background: linear-gradient(29deg, rgba(2,0,36,1) 0%, rgba(10,168,48,1) 0%, rgba(100,5,191,0.9178046218487395) 0%, rgba(0,212,255,1) 100%);
  text-align: center;
  font-size: 10%;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
.clock {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock-face {
  width: 30rem;
  height: 30rem;
  position: relative;
  border: 1.4rem solid white;
  border-radius: 50%;
  box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}
.hand {
  height: .4rem;
  width: 50%;
  position: absolute;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.7s;
  transition-timing-function: cubic-bezier(0, 2.71, 0.17, 1);
}
.hour-hand {
  transform: 30deg;
}